In [11]:
# Q1) Write a Python program that creates a list of 5 numbers and prints each number using a for loop
my_list = [1,2,3,4,5]
for i  in my_list:
  print(i)

1
2
3
4
5
1
2
3
4
5

In [15]:
#Q2) Write a program that calculates the sum of all elements in a list of numbers using a loop.

list1 = [1,2,3,4,5]
sum_list = 0
for i in list1:
  sum_list += i
print(sum_list)

15

Write a Python program that finds the maximum number in a list using a loop (do not use
built-in max() function).

In [2]:
list2 =[20,39,14,67,19]
max_number = list2[0]
for number in list2:
  if number > max_number:
    max_number = number
print(max_number)

67

Write a Python program to create a tuple of strings and print each element using a for loop.

In [7]:
my_tuple = ("this", "is", "a program")
for element in my_tuple:
  print(element)

this
is
a program

Write a Python program that concatenates all elements in a tuple of strings into a single
string using a loop.

In [14]:

tup1= ("hello!"," "," World")
tup2 =""
for element in tup1:
  tup2 += element
print('concatanated string:', tup2.strip())

concatanated string: hello!  World

Write a Python program that reverses the elements of a tuple using a loop

In [12]:
org_list= [1,2,3,4,5]
rev_list = []
for i in range(len(org_list)-1,-1,-1):
 rev_list.append(org_list[i])
print("Reversed list:", rev_list)

Reversed list: [5, 4, 3, 2, 1]

In [13]:
my_tuple2 = (1, 2, 3, 4, 5)
reversed_tuple = []
for i in range(len(my_tuple2)-1, -1, -1):
    reversed_tuple.append(my_tuple2[i])
print("Reversed tuple:", reversed_tuple)

Reversed tuple: [5, 4, 3, 2, 1]

Create a dictionary where the keys are names of students and the values are their scores.Create a dictionary where the keys are names of students and the values are their scores.
Write a program that prints each student's name and their score using a loop.

In [9]:
scoresheet = {"Suraj":95, "Vikas":67, "Anjali":98}
for name,score in scoresheet.items():
  print(f"{name}:{score}")

Suraj:95
Vikas:67
Anjali:98

Write a Python program that calculates the sum of all the values in a dictionary using a loop.

In [23]:
Match = {"Rohit":2,"Virat":35,"Jay":12,"Rahul":16,"Pant":15}
sum = 0
for score  in Match.values():
  sum += score
print(f"Total score by top order: {sum}")

Total score by top order: 80

Write a Python program that finds the student with the highest score from a dictionary using
a loop (without using max()).

In [6]:
Match2 = {"Rohit":2,"Virat":35,"Jay":12,"Rahul":16,"Pant":15}
highest_run = 0
lowest_run = 100
Player =""

for name,score  in Match2.items():
    if score > highest_run:
        highest_run = score
        Player = name
    elif score < lowest_run:
        lowest_run = score
        player = name

print(f"Highest run is {highest_run} scored by {Player}")
print(f"lowest run is {lowest_run} scored by {player}")

Highest run is 35 scored by Virat
lowest run is 12 scored by Jay

In [6]:
students = {"Alice": 85, "Bob": 78, "Charlie": 52}
highest_score = 0
top_student = ""
for name, score in students.items():
    if score > highest_score:
        highest_score = score
        top_student = name
print(f"Top student is {top_student} with a score of {highest_score}")

Top student is Alice with a score of 85

Given a list of tuples where each tuple contains a student’s name and their score, write a
Python program that creates a dictionary. The dictionary should group the students based on
whether their score is 'pass' (>= 50) or 'fail' (< 50). Use loops to categorize the students.

In [21]:
Exam_Marks= [('Raj',45),('Mukesh',60), ('sanju', 89), ('vijay',75)]
result = {'pass_exam' :[],'fail_exam':[]}

for name, marks in Exam_Marks:
  if marks >= 50:
     result["pass_exam"].append(name)
  else:
     result["fail_exam"].append(name)

print(result)

{'pass_exam': ['Mukesh', 'sanju', 'vijay'], 'fail_exam': ['Raj']}

Given a list and a tuple, write a Python program that finds the common elements between
the list and the tuple using a loop.
python
my_list = [1, 2, 3, 4, 5]
my_tuple = (3, 4, 5, 6, 7)

In [5]:
my_list1 = [1, 2, 3, 4, 5]
my_tuple1 = (3, 4, 5, 6, 7)
common_list = []

for i in my_list1:
   if i in  my_tuple1:
      common_list.append(i)

print(common_list)

[3, 4, 5]