l = [1, 2, 35, 67, {"a": 45, "b": 78, "c": {90, 20, 45}}, (12, "prachi", 9022), {67, "Anand", 89},
[12, "r",
909]] Use the above list and solve the below
Question 1:
Print each element of the list using a for loop.
Hint: Your output should display each item on a new line.

In [ ]:
list1 = [1, 2, 35, 67, {"a": 45, "b": 78, "c": {90, 20, 45}}, (12, "prachi", 9022), {67, "Anand", 89}, [12, "r", 909]]
for element in list1:
 print(element)

1
2
35
67
{'a': 45, 'b': 78, 'c': {90, 20, 45}}
(12, 'prachi', 9022)
{89, 67, 'Anand'}
[12, 'r', 909]

Question 2:
Identify the type of each element in the list.
Hint: Use a for loop to iterate through the list and print the type of each element.

In [ ]:
for element in list1:
  print(f" Element:{element}, Type :{type(element)}")

 Element:1, Type :<class 'int'>
 Element:2, Type :<class 'int'>
 Element:35, Type :<class 'int'>
 Element:67, Type :<class 'int'>
 Element:{'a': 45, 'b': 78, 'c': {90, 20, 45}}, Type :<class 'dict'>
 Element:(12, 'prachi', 9022), Type :<class 'tuple'>
 Element:{89, 67, 'Anand'}, Type :<class 'set'>
 Element:[12, 'r', 909], Type :<class 'list'>

Question 3:
Extract and print all integers from the list using a for loop.
Hint: You may need to check for integers inside nested structures (like dictionaries and sets).

In [ ]:
result =[]

for i in list1:
  if isinstance(i, int):
   result.append(i)
  elif isinstance(i,dict) :
    for j in i.values():
      if isinstance(j,int):
        result.append(j)
      elif isinstance(j,set):
          for k in j:
            if isinstance(k,int):
              result.append(k)

  elif isinstance(i,(tuple,set)):
    for j in i:
      if isinstance (j,int):
        result.append(j)

  elif type(i)== list:
    for j in i:
      if isinstance (j,int):
        result.append(j)



print(result)

[1, 2, 35, 67, 45, 78, 90, 20, 45, 12, 9022, 89, 67]

Find and print all string values inside the list using a for loop.
Hint: Be sure to account for strings inside tuples, dictionaries, and lists

In [ ]:
string =[]

for i in list1:
  if isinstance(i, str):
   string.append(i)
  elif isinstance(i,dict) :
    for j in i.keys():
      if isinstance(j,str):
        string.append(j)
      elif isinstance(j,set):
          for k in j:
            if isinstance(k,str):
              string.append(k)

  elif isinstance(i,(tuple,set)):
    for j in i:
      if isinstance (j,str):
        string.append(j)

  elif type(i)== list:
    for j in i:
      if isinstance (j,str):
        string.append(j)



print(string)

['a', 'b', 'c', 'prachi', 'Anand']

Print only the dictionary key-value pairs from the list.
Hint: Write a for loop to identify the dictionary in the list and print its keys and
corresponding values.

In [ ]:
for dict1 in list1:
  if type(dict1)== dict:
    for name, marks in dict1.items():
      print(f" Name : {name},  Marks:{marks}")

 Name : a,  Marks:45
 Name : b,  Marks:78
 Name : c,  Marks:{90, 20, 45}

Question 6:
Extract and print all unique values from the set found inside the dictionary in the
list. Hint: Use a for loop to navigate to the set and print each value.

In [ ]:

for box in list1:
  if isinstance(box,dict):
    for j in box.values():
      if isinstance(j,set):
        print(j)

{90, 20, 45}

Question 7:
Flatten and print all elements in the list (including nested elements).
Hint: Use a for loop to print every single element inside the list, regardless of whether it is
inside another list, dictionary, tuple, or set.

In [ ]:
list1 = [1, 2, 35, 67, {"a": 45, "b": 78, "c": {90, 20, 45}}, (12, "prachi", 9022), {67, "Anand", 89}, [12, "r", 909]]
for element in list1:
 if isinstance(element, dict):
  for i,j in element.items():
    print(f"{i}:{j}")
    if isinstance(j,set):
     for k in j:
      print(k)
 elif isinstance(element,(set,tuple,list)):
  for i in element:
    print(i)

 else:
  print(element)

1
2
35
67
a:45
b:78
c:{90, 20, 45}
90
20
45
12
prachi
9022
89
67
Anand
12
r
909

Question 8:
Count how many times a certain data type (e.g., integer, string) appears in the list.
Hint: Use a for loop to count and print how many integers and strings exist in the list,
including inside nested structures

In [ ]:
strn_count = 0
int_count = 0
for element in list1:
  if isinstance(element, dict):
    for i,j in element.items():
      if isinstance(j,int):
        int_count +=1
      elif isinstance(j,str):
        strn_count +=1
        if isinstance(j,set):
          for k in j:
            if isinstance(k,int):
              int_count +=1
            elif isinstance(k,str):
              strn_count +=1

  elif isinstance(element,(list,set,tuple)):
    for i in element:
      if isinstance(i,int):
        int_count +=1
      elif isinstance(i,str):
              strn_count +=1

  else:
      if isinstance(element,int):
        int_count +=1
      elif isinstance(element,str):
              strn_count +=1



print(f"count of integer: {int_count}")
print(f"count of string: {strn_count}")

count of integer: 12
count of string: 3

Question 9:
Add 10 to each integer found in the list.
Hint: Use a for loop to go through the list and, if an integer is found, add 10 to it and print
the result.

In [ ]:
l = [1, 2, 35, 67, {"a": 45, "b": 78, "c": {90, 20, 45}}, (12, "prachi", 9022), {67, "Anand", 89}, [12, "r", 909]]

# List to process the elements (acts as a stack for nested elements)
elements_to_process = l.copy()
print(elements_to_process)

# Using a while loop to process all elements, even nested ones
while elements_to_process:
    element = elements_to_process.pop(0)  # Get the first element from the list

    if isinstance(element, int):  # If the element is an integer
        print(element + 10)  # Add 10 to the integer and print it
    elif isinstance(element, (list, tuple, set)):  # If the element is a list, tuple, or set
        elements_to_process.extend(list(element))  # Add its elements to the list to be processed
    elif isinstance(element, dict):  # If the element is a dictionary
        elements_to_process.extend(list(element.values()))

[1, 2, 35, 67, {'a': 45, 'b': 78, 'c': {90, 20, 45}}, (12, 'prachi', 9022), {89, 67, 'Anand'}, [12, 'r', 909]]
11
12
45
77
55
88
22
9032
99
77
22
919
100
30
55

In [6]:
l = [1, 2, 35, 67, {"a": 45, "b": 78, "c": {90, 20, 45}}, (12, "prachi", 9022), {67, "Anand", 89}, [12, "r", 909]]
result_l = []
for element in l:
  if isinstance(element,int):
    result_l.append(element+10)
  elif isinstance(element,dict):
    for i,j in element.items():
      if isinstance(j,int):
        result_l.append(j+10)
    if isinstance(element,set):
      for k in element:
        if isinstance(k,int):
          result_l.append(i+10)
  elif isinstance(element,(list,tuple,set)):
    for i in element:
      if isinstance(i,int):
        result_l.append(i+10)
print(result_l)

[11, 12, 45, 77, 55, 88, 22, 9032, 99, 77, 22, 919]

Question 10:
Write a program that prints elements from the set found inside the dictionary, but only if
the value is greater than 30.
Hint: Use a for loop to identify and filter values from the set.

In [7]:
l = [1, 2, 35, 67, {"a": 45, "b": 78, "c": {90, 20, 45}}, (12, "prachi", 9022), {67, "Anand", 89}, [12, "r", 909]]
result_g = []
for element in l:
  if isinstance(element,dict):
    for i,j in element.items():
      if isinstance(j,set):
        for k in j:
          if k >30:
            result_g.append(k)
      else:
        if j >30:
            result_g.append(j)
print(result_g)

[45, 78, 90, 45]